<a href="https://colab.research.google.com/github/tlsgptj/AI_-/blob/main/%EC%9D%B8%EA%B3%B5%EB%8A%A5%EC%A7%80_%EA%B8%B0%EB%A7%90(%EB%AF%B8%EC%84%B8%EB%A8%BC%EC%A7%80).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('/content/Finddust1.csv')

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.isna().sum()

In [ ]:
#미세먼지를 예측하기 위해서 필요없는 컬럼은 다 삭제해준다.
df = df.drop(['WestSeoul_TG_out', 'WestSeoul_TG_in',
               'Seoul_TG_out', 'Seoul_TG_in', 'Gunja_TG_out',
               'Gunja_TG_in', 'Localpressure_seoul', 'Localpressure_incheon',
               'Localpressure_suwon', 'Sunshine_seoul', 'Sunshine_incheon',
               'Sunshine_suwon', 'Snowfall_seoul', 'Snowfall_incheon',
               'Snowfall_suwon'], axis=1, errors='ignore')

In [ ]:
df.head(20)

In [ ]:
df = df.drop(['Rain_seoul', 'Insolation_seoul', 'Snowfal_suwon', 'Rain_ansan'], axis=1, errors='ignore')

In [ ]:
df

In [ ]:
df = df.drop(['Insolation_suwon'], axis=1, errors='ignore')

In [ ]:
df

In [ ]:
df.info()

In [ ]:
# 정규화
df["Ozone_seoul"] = df["Ozone_seoul"].astype(float) / abs(df["Ozone_seoul"].astype(float).max())
df[["Ozone_seoul"]].head(20)

In [ ]:
df["seoul_PM10"] = df["seoul_PM10"].astype(float) / abs(df["seoul_PM10"].astype(float).max())
df[["seoul_PM10"]].head(20)

In [ ]:
df["Sealevelpressure_seoul"] = df["Sealevelpressure_seoul"].astype(float) / abs(df["Sealevelpressure_seoul"].astype(float).max())
df[["Sealevelpressure_seoul"]].head(20)

In [ ]:
df["Humidity_seoul"] = df["Humidity_seoul"].astype(float) / abs(df["Humidity_seoul"].astype(float).max())
df[["Humidity_seoul"]].head(20)

In [ ]:
df["Winddirection_seoul"] = df["Winddirection_seoul"].astype(float) / abs(df["Winddirection_seoul"].astype(float).max())
df[["Winddirection_seoul"]].head(20)

In [ ]:
df["suwon_PM10"] = df["suwon_PM10"].astype(float) / abs(df["suwon_PM10"].astype(float).max())
df[["suwon_PM10"]].head(20)

In [ ]:
df["incheon_PM10"] = df["incheon_PM10"].astype(float) / abs(df["incheon_PM10"].astype(float).max())
df[["incheon_PM10"]].head(20)

In [ ]:
df["ansan_PM10"] = df["ansan_PM10"].astype(float) / abs(df["ansan_PM10"].astype(float).max())
df[["ansan_PM10"]].head(20)

In [ ]:
df["Windirection_ansan"] = df["Windirection_ansan"].astype(float) / abs(df["Windirection_ansan"].astype(float).max())
df["windspeed_ansan"] = df["windspeed_ansan"].astype(float) / abs(df["windspeed_ansan"].astype(float).max())
df["Sealevelpressure_suwon"] = df["Sealevelpressure_suwon"].astype(float) / abs(df["Sealevelpressure_suwon"].astype(float).max())
df["Humidity_suwon"] = df["Humidity_suwon"].astype(float) / abs(df["Humidity_suwon"].astype(float).max())
df["Humidity_ansan"] = df["Humidity_ansan"].astype(float) / abs(df["Humidity_ansan"].astype(float).max())
df.head()

In [ ]:
df = df.drop(['Genja_TG_in', 'Winddirection_suwon', 'Windspeed_suwon', 'Rain_suwon'], axis=1, errors='ignore')

In [ ]:
df.head()

EDA

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime

if not pd.api.types.is_datetime64_any_dtype(df['date']):
    df['date'] = pd.to_datetime(df['date'])

df['year'] = df['date'].dt.year

yearly_pm10 = df.groupby('year')[['seoul_PM10', 'incheon_PM10', 'suwon_PM10', 'ansan_PM10']].mean()

plt.figure(figsize=(12, 6))
plt.plot(yearly_pm10.index, yearly_pm10['seoul_PM10'], marker='o', label='Seoul')
plt.plot(yearly_pm10.index, yearly_pm10['incheon_PM10'], marker='o', label='Incheon')
plt.plot(yearly_pm10.index, yearly_pm10['suwon_PM10'], marker='o', label='Suwon')
plt.plot(yearly_pm10.index, yearly_pm10['ansan_PM10'], marker='o', label='Ansan')

plt.title('Annual PM10 Comparison of Seoul, Incheon, Suwon, and Ansan')
plt.xlabel('Year')
plt.ylabel('PM10 Concentration')
plt.legend()
plt.grid(True)
plt.show()
#연도별 각 지역의 미세먼지 농도를 비교해 본 결과 안산이 가장 높았고 그 다음 수원, 서울, 인천 순이었다.

In [ ]:
#이번엔 서울지역의 연도별 오존 농도를 시각화해보기로 함
import pandas as pd
import matplotlib.pyplot as plt
import datetime

if not pd.api.types.is_datetime64_any_dtype(df['date']):
    df['date'] = pd.to_datetime(df['date'])

df['year'] = df['date'].dt.year

yearly_Oz = df.groupby('year')['Ozone_seoul'].mean()

plt.figure(figsize=(12, 6))
# 'Ozone_seoul' is not a column in yearly_Oz, it is the values of the Series
plt.plot(yearly_Oz.index, yearly_Oz.values, marker='o', label='Ozone')

plt.title('Annual Ozone Comparison of Seoul')
plt.xlabel('Year')
plt.ylabel('Ozone Concentration')
plt.legend()
plt.grid(True)
plt.show()
#서울의 오존 농도는 미세먼지와 다르게 증가하는 경향을 보였다.

In [ ]:
#이번엔 서울지역의 연도별 이산화탄소 농도를 시각화해보기로 함
import pandas as pd
import matplotlib.pyplot as plt
import datetime

if not pd.api.types.is_datetime64_any_dtype(df['date']):
    df['date'] = pd.to_datetime(df['date'])

df['year'] = df['date'].dt.year

yearly_CO = df.groupby('year')['CO_seoul'].mean()
yearly_SO2 = df.groupby('year')['SO2_seoul'].mean()
yearly_NO2 = df.groupby('year')['NO2_seoul'].mean()

plt.figure(figsize=(12, 6))
# 'Ozone_seoul' is not a column in yearly_Oz, it is the values of the Series
plt.plot(yearly_CO.index, yearly_Oz.values, marker='o', label='CO')
plt.plot(yearly_SO2.index, yearly_Oz.values, marker='o', label='SO2')
plt.plot(yearly_NO2.index, yearly_Oz.values, marker='o', label='NO2')

plt.title('Annual NO2 Comparison of Seoul')
plt.xlabel('Year')
plt.ylabel('NO2 Concentration')
plt.legend()
plt.grid(True)
plt.show()
#NO2는 해년마다 증가하는 추세였음

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime

if not pd.api.types.is_datetime64_any_dtype(df['date']):
    df['date'] = pd.to_datetime(df['date'])

df['year'] = df['date'].dt.year

yearly_CO = df.groupby('year')['CO_seoul'].mean()

plt.figure(figsize=(12, 6))
# 'Ozone_seoul' is not a column in yearly_Oz, it is the values of the Series
plt.plot(yearly_CO.index, yearly_Oz.values, marker='o', label='CO')

plt.title('Annual CO Comparison of Seoul')
plt.xlabel('Year')
plt.ylabel('CO Concentration')
plt.legend()
plt.grid(True)
plt.show()